.container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container section {
  height: 100dvh;
  color: var(--text);
  scroll-snap-align: start;
  min-height: 700px;
}

.container section:nth-child(1) {
  background-color: #0b0b0d;
}
.container section:nth-child(2) {
  background-image: linear-gradient(
    to bottom right,
    #f5fbf0 30%,
    #bdcab3 70%,
    #879b78 90%
  );
}

.container section:nth-child(3) {
  background-color: #0b0b0d;
}

.container section:nth-child(4) {
  position: relative;
  z-index: 1;
  color: #000;
}

.container section:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../public/contacts/div4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}

.imagecontainer {
  width: 100%;
  position: relative;
}

.img {
  object-fit: cover;
}

.dark {
  overflow: hidden;
}

@media all and (max-width: 768px) {
  .container section:nth-child(2) {
    height: 150dvh;
  }
}
